AuthType Basic
AuthName " Statistics"
/web/httpd2/conf/1568/virtualhosts.conf- AuthName "lonestargsd.com Statistics"
AuthUserFile /var/chroot/home/content/57/10695857/html/stats/.statspwd
Require valid-user
DirectoryIndex index.html
